
<h1> Battle! </h1>
<h2> Submit your names and prepare to fight to the death! </h2>
<form action="/names" method="post">
  <label for="name_p1">
    Player 1
  <input type="text" name="name_p1">
  </label>
  <label for="name_p2">
    Player 2
  <input type="text" name="name_p2">
  </label>
  <input type="submit" value="Submit">
</form>
